body{
    text-align: center;
    background-image: linear-gradient(red, yellow);
}
h1{
    font: 'Raleway',sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    text-shadow: aqua;
    letter-spacing: 1em;
}
h2{
    font: 'Raleway',sans-serif;
    text-transform: uppercase;
    color:gold;
    letter-spacing: 1em;
    position: relative;
    top: 200PX;
}
.color1,.color2,.color3{
   position: relative;
   top: 130px;
   
}
h3{
    color: turquoise;
    position: relative;
    top: 200px;

}
